.new-task, .new-task:focus {
    border-radius: 0;
    box-shadow: 0 4px 8px lightgrey;
    margin: 2em 0;
}

.new-task.first {
    margin-top: 25%;
}

.tasks .complete input {
    margin: 0;
    height: 2.2em;
    width: 2.2em;
}

.tasks .title {
    width: 100%;
    font-size: 1.5em;
}

.tasks .success .title {
    text-decoration: line-through;
}